@use './variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

  body {
    background-color: #F9F9F9;
    overflow-x: hidden;
    
        
  }
  
  h1 {
    color: $color-cyan;
  }